.bottom
.footer
  .select-field
    .season
      季節
    .select-btn
      btn
    .detail
      = link_to "詳細", new_coordination_path, class: "show-btn"
    .my-pages
      = link_to "マイページ", "/users/new", class: "btns"
