-# - @favoritess.each do |favorite|
-#   -# @coordinations = Coordination.find(favorite.coordination_id)
-#   = link_to @coordinations.coordination, coordination_path(@coordinations.id)
-# -# -binding.pry
-# .ftftft
-#   .root-btns
-#     .root-btn
-#       = link_to "戻る", root_path, class: "roott"