.header 
  .title
    title
.bottom
.footer
  .select-field
    .season
      季節
    .select
      btns
    .detail
      btn
    .add
      add
    .delete
      delete
  .my-page
    .my
      マイページ