* {
  box-sizing: border-box;
}

.header {
  background-color: #fafafa;
  height: 100px;
  width: 100%;
  line-height: 90px;
  display: flex;
  .title {
    color: black;
    font-size: 55px;
    margin: 0 auto;
    font-family: serif;
    z-index: 1;
    position: relative;
    }
  .title:before, .title:after {
    content: '';
    top: 50%;
    display: inline-block;
    width: 630px;
    height: 2px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
  }
  .title:before {
    left:0;
  }
  .title:after {
    right: 0;
  }
}
#wrap{
  .change-btn{
    text-align: center;
    margin: 20px;
  }
  .bottom1 {
    height: calc(100vh - 244px);
    width: 100%;
    overflow: scroll;
    .searchh {
      text-align: center;
      font-size: 40px;
    }
    .title-all{
      font-size: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .mono{
        text-decoration: none;
        color: black;
      }
      .like-btn {
        text-decoration: none;
        color: black;
        font-size: 20px;
        border: solid 1px;
      }
    }
  }
  .allimage{
    height: 100%;
    .aass {
      height: 545px;
      display: flex;
      justify-content: space-around;
      .aaff label{
        width: 120px;
        display: flex;
        padding: 10px;
        font-weight: bold;
        border: solid 2px black;
        cursor :pointer;
      }
      .aaff label:hover {
        background: #efefef;
      }
      #label1{
        display: none;
      }
      .aaff .aadd{
        display: none;
      }
      .aaff input:checked ~ .aadd {
        display: block;
      }
      #label2{
        display: none;
      }
      #label3{
        display: none;
      }
      #label4{
        display: none;
      }
      #label5{
        display: none;
      }
      
      #label6{
        display: none;
      }
      .aaff {
        &:hover .aadd {
          display: block;
        }
        .aadd {
          display: none;
          position: fixed;
          overflow: scroll;
          height: 440px;
          .aahh {
            .pic-btn {
              text-decoration: none;
              color: black;
            }
          }
          .aahhh {
            display: flex;
            flex-direction: column;
            .pics-btn {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }

  .submit-btnss {
    margin-top: 390px;
    border: solid;
    padding: 0 40px 0 40px;
    margin-left: 45%;
    // margin-bottom: 40px;
  }
}
.footer {
  background-color: #fafafa;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .select-field {
    margin: auto;
    display: flex;
    text-align: center;
    line-height: 80px;
    .detail {
      background-color: #FF8C00;
      height: 80px;
      width: calc(100vw - 350px);
      font-size: 25px;
      .show-btn {
        color: white;
        text-decoration: none;
      }
    }
    .my-pages {
      background-color: #797c85;
      height: 80px;
      width: calc(100vw - 1090px);
      font-size: 25px;
      text-decoration: none;
      .btns {
        color: white;
        text-decoration: none;
      }
    }
  }
}
.lists {
  height: calc(100vh - 180px);
  width: 100vw;
  text-align: center;
  font-size: 30px;
  overflow: scroll;
  background-color: white;
  .cloth {
    .coordination-btn {
      border: solid;
      padding: 10px 35px 10px 35px;
      color: black;
      margin: 20px 0 20px 0;
    }
  }
  .louter {
    .outer-btn {
      border: solid;
      padding: 10px 35px 10px 60px;
      color: black;
      margin: 20px 540px 20px 490px;
      display: block;
      background-color: white;
    }
  }
  .linner{
    .inner-btn {
      border: solid;
      padding: 10px 35px 10px 60px;
      color: black;
      margin: 20px 540px 20px 490px;
      display: block;
      background-color: white;
    }
  }
  .lbottom {
    .bottom-btn {
      border: solid;
      padding: 10px 35px 10px 40px;
      color: black;
      margin: 20px 540px 20px 490px;
      display: block;
      background-color: white;
    }
  }
  .lshoes {
    .shoe-btn {
      border: solid;
      padding: 10px 35px 10px 40px;
      color: black;
      margin: 20px 540px 20px 490px;
      display: block;
      background-color: white;
    }
  }
  .lhat {
    .hat-btn {
      border: solid;
      padding: 10px 35px 10px 40px;
      color: black;
      margin: 20px 540px 20px 490px;
      display: block;
      background-color: white;
    }
  }
  .laccessory {
    .accessory-btn {
      border: solid;
      padding: 10px 35px 10px 40px;
      color: black;
      margin: 20px 540px 20px 490px;
      display: block;
      background-color: white;
    }
  }
  .file-btn {
    font-size: 0;
  }
}
  #coordination_coordinations_coordination {
    width: 80px;
  }
.fots {
  background-color: #fafafa;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .fot {
    margin: auto;
    display: flex;
    text-align: center;
    line-height: 80px;
    .send-btn {
      background-color: #7fc2ef;
      height: 80px;
      width: calc(100vw - 350px);
      font-size: 25px;
      text-decoration: none;
      color: white;
    }
    .my-pages {
      background-color: #797c85;
      height: 80px;
      width: calc(100vw - 1090px);
      font-size: 25px;
      text-decoration: none;
      .btns {
        color: white;
        text-decoration: none;
      }
    }
  }
}

// @media screen { .file-btn { display: none; } }

.view-main {
  height: calc(100vh - 225px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  .user {
    width: 200px;
    text-align: center;
    border: solid;
    margin-top: 50px;
    padding: 20px 40px 20px 40px;
    position: relative;
    .user-show {
      position: absolute;
      cursor: pointer;
      top: 5px;
      right: 10px;
      z-index: 2;
      height: 20px;
      width: 15px;
      text-align: right;
    }
    &:hover .user-show-btn {
      display: block;
    }
    .user-show-btn {
      position: absolute;
      text-align: left;
      width: 30px;
      right: 0;
      font-size: 12px;
      background-color: #fff;
      border: 1px solid #ddd;
      display: none;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
      border-radius: 3px;
  }
}
  .clothes-btn {
    width: 200px;
    text-align: center;
    border: solid;
    margin-top: 100px;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    color: black;
  }

  .btn {
    width: 200px;
    text-align: center;
    border: solid;
    margin-top: 100px;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    color: black;
  }

}
.sss {
  height: calc(100vh - 220px);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  .sssaaa {
    font-size: 40px;
    .delete-btn {
      text-decoration: none;
      color: black;
      font-size: 20px;
    }
    .update-btn {
      text-decoration: none;
      color: black;
      font-size: 20px;
    }
  }
  .sview{
    display: flex;
    flex-direction: column;
    align-items: center;
    .souter {
      .mouter {
        font-size: 20px;
      }
    }
    .sinner {
      .minner {
        font-size: 20px;
      }
    }
    .sbottom {
      .mbottom {
        font-size: 20px;
      }
    }
    .sshoes {
      .mshoes {
        font-size: 20px;
      }
    }
    .shat {
      .mhat {
        font-size: 20px;
      }
    }
    .saccessory {
      .maccessory {
        font-size: 20px;
      }
    }
  }
}
.bottom2{
  .selects-btn {
    margin-left: 40%;
    height: 44px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .aass {
    height: 100px;
    display: flex;
    justify-content: space-around;
    .aaff label{
      width: 120px;
      display: flex;
      padding: 10px;
      font-weight: bold;
      border: solid 2px black;
      cursor :pointer;
    }
    .aaff label:hover {
      background: #efefef;
    }
    #label1{
      display: none;
    }
    .aaff .aadd{
      display: none;
    }
    .aaff input:checked ~ .aadd {
      display: block;
      .aahh {
        
      }
    }
    #label2{
        display: none;
    }
    #label3{
        display: none;
    }
    #label4{
        display: none;
    }
    #label5{
        display: none;
    }
    
    #label6{
      display: none;
    }
    .aaff {
      &:hover .aadd {
        display: block;
      }
      .aadd {
        display: none;
        position: fixed;
        overflow: scroll;
        height: 400px;
      }
    }
  }
  .submit-btnss {
    margin-top: 350px;
    border: solid;
    padding: 0 40px 0 40px;
    margin-left: 45%;
  }
}
.like-main {
  height: calc(100vh - 225px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  .coo-link {
    display: flex;
    .like-root {
      text-decoration: none;
      color: black;
      font-size: 30px;
      margin-right: 10px;
    }
    .fav-btn {
      text-decoration: none;
      color: black;
      margin-top: 15px;
    }
  }
}
.ftftft{
  height: calc(100vh - 800px);
  .root-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    widows: 100%;
    background-color: #98FB90;
    .root-btn{
      
      font-size: 60px;
      .roott{
        text-decoration: none;
        color: white;
      }
    }
  }
}

.a {
  /* フォントサイズなどを任意で指定する */
  font: bold 10em / 1 Verdana, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  
  /* 背景グラデーションを指定・幅を 200% にしておく */
  background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
  
  /* 背景画像を文字でマスクする */
          background-clip: text;
  -webkit-background-clip: text;
  
  /* 文字色を透明にできればよく color: transparent でも color: rgba(0, 0, 0, 0) でも可 */
          text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  
  /* アニメーション指定 */
  animation: example 4s linear infinite;
}

/* 背景の横位置をズラす */
@keyframes example {
  to { background-position-x: 200%; }
}

img{
  height: 150px;
  width: 150px;
}