* {
  box-sizing: border-box;
}

.header {
  background-color: #fafafa;
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 90px;
  .title {
    color: black;
    font-size: 55px;
    font-family: inherit;
    
  }
}
.bottom {
  height: 610px;
  width: 100%;
}
.footer {
  background-color: #fafafa;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .select-field {
    margin: auto;
    display: flex;
    text-align: center;
    line-height: 80px;

    .season {
      height: 80px;
      width: 260px;
      font-size: 25px;
    }
    .select {
      background-color: red;
      height: 80px;
      width: 260px;
      font-size: 25px;
      // margin-right: 100px;
    }
    .detail {
      background-color: blue;
      height: 80px;
      width: 260px;
      font-size: 20px;
    }
    .add {
      background-color: green;
      height: 80px;
      width: 260px;
      font-size: 20px;
    }
    .delete {
      background-color: yellow;
      height: 80px;
      width: 260px;
      font-size: 20px;
    }
  }
  .my-page {
    background-color: black;
    height: 80px;
    width: 150px;
    line-height: 80px;
    padding-left: 40px;
    .my {
      color: white;
      font-size: 15px;
    }
  }
}